<footer>
    <div id="bloc">
        <div class="link-article" id="first-bloc">
            <a href="#"><h2 class="cursor-link">Présentation</h2></a>
            <a href="#"><p class="cursor-link">Activités</p></a>
            <p class="cursor-link" (click)="scrollTo('historique')">Historique</p>
            <p class="cursor-link" (click)="scrollTo('vision')">Vision</p>
            <p class="cursor-link" (click)="scrollTo('objectifs')">Objectifs</p>
            <p class="cursor-link" (click)="scrollTo('cibles')">Cibles</p>
        </div>
        <div class="link-article">
            <h2>Suisse</h2>
            <p>Route de Saconnex-d'Arve 222</p>
            <p>1228 Plan-les-Ouates</p>
            <p>Genève</p>
            <p>Email: elleinad2008gmail.com</p>
            <p>Tél: +41 227 713 304</p>
        </div>
        <div class="link-article">
            <h2>Sénégal</h2>
            <p>535 Petit Mbao - Cité Fougérole</p>
            <p>Dakar</p>
            <p>Email: cos7aprosigmail.com</p>
            <p>Email: soirebaayahoo.fr</p>
            <p>Tél: +221 77 617 97 49</p>
        </div>
        <div class="link-article">
            <a href="#"><h2 class="cursor-link">Associations</h2></a>
            <a href="#"><p class="cursor-link">Nous Contacter</p></a>
            <br>
            <p>Soutenir les groupements de femmes</p>
            <a href="#"><p id="savoirPlus">En savoir plus</p></a>
        </div>
    </div>
    <p id="footer-footer">Association Elleinad Allô la terre | n°NINEA: 05396</p>
</footer>