<footer>
    <div id="bloc">
        <div class="link-article">
            <h2>Présentation</h2>
            <p>Activités</p>
            <p>Historique</p>
            <p>Vision</p>
            <p>Objectifs</p>
            <p>Cibles</p>
        </div>
        <div class="link-article">
            <h2>Suisse</h2>
            <p>Route de Saconnex-d'Arve 222</p>
            <p>1228 Plan-les-Ouates</p>
            <p>Genève</p>
            <p>Email: elleinad2008gmail.com</p>
            <p>Tél: +41 227 713 304</p>
        </div>
        <div class="link-article">
            <h2>Sénégal</h2>
            <p>535 Petit Mbao - Cité Fougérole</p>
            <p>Dakar</p>
            <p>Email: cos7aprosigmail.com</p>
            <p>Email: soirebaayahoo.fr</p>
            <p>Tél: +221 77 617 97 49</p>
        </div>
        <div class="link-article">
            <h2>Associations</h2>
            <p>Nous Contacter</p>
            <br>
            <p>Soutenir les groupements de femmes</p>
            <p id="savoirPlus">En savoir plus</p>
        </div>
    </div>
    <p id="footer-footer">Association Elleinad Allô la terre | n°NINEA: 05396</p>
</footer>