* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
}


main {
  background-color: #efefef;
  box-shadow: 0px 5px 11px #0a1f32;
  width: 80%;
  height: fit-content;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}


header {
  padding-top: 230px;
  width: 100%;
  height: 100vh;
  justify-items: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 420px;
  margin-top: 17px;
}


.inputClass {
  display: flex;
  flex-direction: column;
}


input,
textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}


textarea {
  height: 290px;
}


input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}


#statusMessage {
  font-size: 12px;
}


button {
  background-color: #2e76b5;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}


button:hover {
  background-color: #194871;
}


button:active {
  color: yellow;
}


table {
  width: 90%;
  padding: 15px;
  text-align: left;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


table tr th, table tr td {
  padding: 15px 20px;
  border: 0.5px solid #333333;
}


table tr th {
  background-color: #194871;
  color: whitesmoke;
}


table tr .pays {
  background-color: #4178a8;
  color: whitesmoke;
  text-align: center;
}


table tr .gauche {
  background-color: #80acd3;
  color: #555555;
}


table tr td {
  background-color: #dddddd;
}




@media only screen and (max-width: 1024px) {
}


@media only screen and (max-width: 815px) {
}


@media only screen and (max-width: 580px) {
}
