<main>
    <header>
        <form id="contactForm" method="POST">
            <input type="email" name="email" placeholder="Votre email" required />
            <input type="text" name="subject" placeholder="Sujet" required />
            <textarea name="message" placeholder="Votre message..." required></textarea>

            <input type="hidden" name="_captcha" value="false" />
            <input type="hidden" name="_template" value="table" />
            <input type="hidden" name="_subject" value="Site Association Elleinad" />

            <button type="submit">Envoyer</button>

            <input type="text" name="_honey" style="display:none">
        </form>
        <p id="statusMessage"></p>
    </header>

    <table id="repertoire">
      <tr>
        <th id="leftTH">Nombre</th>
        <th>Localités</th>
        <th>Responsables</th>
        <th>Contacts</th>
      </tr>

      <ng-container *ngFor="let groupe of groupes">
        <tr></tr> <tr></tr>
        <tr><td colspan="4" class="pays">{{ groupe.nom }}</td></tr>

        <tr *ngFor="let contact of groupe.contacts">
          <td class="gauche">{{ contact.numero }}</td>
          <td>{{ contact.localite }}</td>
          <td>{{ contact.responsable }}</td>
          <td class="contact-contact">{{ contact.contact }}</td>
        </tr>
      </ng-container>
    </table>


    <app-footer></app-footer>

</main>
