* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
}


main {
  background-color: #efefef;
  box-shadow: 0px 5px 11px #0a1f32;
  width: 80%;
  height: fit-content;
  padding-top: 210px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}


article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0 0 20px 0;
  margin: 30px 0;
}


article h1 {
  color: #194871;
  border-left: red 2px solid;
  padding-left: 10px;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 15px;
}


article p {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 15px;
  color: #333333;
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    margin-bottom: 55px;
  } 50% {
    margin-bottom: 15px;
  }
}


article ul li {
  font-size: 14px;
  text-align: justify;
  margin: 0 25px 15px 25px;
  color: #333333;
}



#container {
  background-color: #efefef;
  padding: 40px 20px 0 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}


#left {
  overflow-y: scroll;
  width: 67%;
  height: 500px;
}

#right {
  background-image: url(/photo-principal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 7px;
  width: 380px;
  height: 500px;
  text-align: center;
  align-content: end;
}


#right h1 {
  background-color: #ffffff88;
  height: 60px;
  font-size: 30px;
  color: #194871;
  align-content: center;
}


/* ------------------- Associations ------------------- */
#associations {
  margin-top: 60px;
  padding: 0 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: scroll;
}


.groupement {
  max-width: 30%;
  height: 500px;
  margin-bottom: 50px;
  transition: .3s;
}


.groupement:hover {
  transform: scale(1.02);
}


.groupement header {
  background-image: url(/photo-association.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3/2;
}


.groupement h1 {
  font-weight: 400;
  font-size: 30px;
  color: #194871;
  margin: 10px 0 5px 0;
}


.groupement strong {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #306797;
}


.groupement p {
  margin-top: 7px;
  color: #444444;
  text-align: justify;
}