<main>
    <div id="container">
        <div id="left">
            <article *ngFor="let article of articles">
                <h1>{{ article.title }}</h1>

                <p *ngFor="let para of article.paragraphs" [innerHTML]="para"></p>

                <ul *ngIf="article.listItems">
                    <li *ngFor="let item of article.listItems" [innerHTML]="item"></li>
                </ul>
            </article>
        </div>
        <!-- background-image pour production -->
        <div id="right" [style.background-image]="'url(' + baseHref + 'assets/photo-principal.png)'">
            <h1 (click)="scrollToAssociation()">{{ displayedText }}</h1>
        </div>
    </div>
    

    <div id="associations">
        <!-- background-image pour production -->
        <div *ngFor="let g of groupements" class="{{ g.class_name }}">
            <header
                [style.background-image]="'url(' + baseHref + 'assets/photo-association.png)'"
                class="groupement-header">
            </header>

            <h1>{{ g.title }}</h1>
            <strong>{{ g.action }}</strong>
            <p [innerHTML]="g.params"></p>
        </div>
    </div>


    <app-footer></app-footer>
</main>
