<main>
    <div id="container">
        <div id="left">
            <article *ngFor="let article of articles">
                <h1>{{ article.title }}</h1>

                <p *ngFor="let para of article.paragraphs" [innerHTML]="para"></p>

                <ul *ngIf="article.listItems">
                    <li *ngFor="let item of article.listItems" [innerHTML]="item"></li>
                </ul>
            </article>
        </div>
        <div id="right">
            <h1>{{ displayedText }}</h1>
        </div>
    </div>
    

    <div id="associations">
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
        <div class="groupement">
            <header></header>
            <h1>Nom Groupement</h1>
            <strong>Dakar / Petit Mbao 535, Cité Fougérole</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis 
                consequuntur dolorem obcaecati modi incidunt voluptatibus voluptatem 
                ratione aliquid facere vero voluptas molestias dolore iste, asperiores, 
                ullam quaerat consequatur ex optio minus iure. Iure eveniet totam, quas 
                mollitia magni voluptatem dolorum! Possimus adipisci labore similique 
                officiis omnis eos repudiandae hic sequi totam voluptatem saepe sit 
                beatae doloribus odio doloremque, optio sunt ullam consequatur iure.</p>
        </div>
    </div>

    <app-footer></app-footer>
</main>
