<header [style.background-image]="'url(' + baseHref + 'assets/back_header.png)'">
    <div id="logo">
        <img src="assets/earth.gif" alt="earth-rotation">
        <img src="assets/text-logo.png" alt="text-logo">
    </div>
    <h1>Association Elleinad</h1>
    <h3>ALLÔ LA TERRE</h3>
</header>
<nav>
    <div
    id="social-links"
        (mouseover)="showBubble = true"
        (mouseout)="showBubble = false"
        (mousemove)="updateMousePosition($event)"
    >
    <img src="assets/white-logo-call.svg" alt="logo-contact" class="img-contact" />
    <a href="home" (click)="scrollToTop($event)">
        <p id="title-nav">ALLÔ LA TERRE</p>
    </a>

    <!-- Bulle qui suit la souris -->
    <div
        class="contact-bubble"
        *ngIf="showBubble"
        [ngStyle]="{ top: bubbleY + 'px', left: bubbleX + 'px' }"
    >
        +41 227 713 304
    </div>
    </div>

    <img
        id="burger"
        [src]="menuOuvert ? 'assets/burger-bar-close.svg' : 'assets/burger-bar-open.svg'"
        alt="burger-bar"
        (click)="toggleMenu()"
    />

    <ul id="nav-burger" *ngIf="menuOuvert">
        <a [routerLink]="['/home']" (click)="scrollToTop($event); toggleMenu()">
            <li>Accueil</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="scrollToTop($event); toggleMenu()">
            <li>Présentation</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="navigateToSection($event, 'associations'); toggleMenu()">
            <li>Activités</li>
        </a>
        <a [routerLink]="['/contact']" (click)="scrollToTop($event); toggleMenu()">
            <li>Nous contacter</li>
        </a>
    </ul>

    <ul>
        <a [routerLink]="['/home']" (click)="scrollToTop($event)">
            <li>Accueil</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="scrollToTop($event)">
            <li>Présentation</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="navigateToSection($event, 'associations')">
            <li>Activités</li>
        </a>
        <a [routerLink]="['/contact']" (click)="scrollToTop($event)">
            <li>Nous contacter</li>
        </a>
    </ul>
</nav>

<router-outlet />
