<header>
    <div id="logo">
        <img src="/assets/earth.gif" alt="earth-rotation">
        <img src="/assets/text-logo.png" alt="text-logo">
    </div>
    <h1>Association Elleinad</h1>
    <h3>ALLÔ LA TERRE</h3>
</header>
<nav>
    <div id="social-links">
        <img src="/assets/white-logo-call.svg" alt="logo-contact" class="img-contact">
        <a href="home" (click)="scrollToTop($event)">
            <p id="title-nav">ALLÔ LA TERRE</p>
        </a>
    </div>
    <ul>
        <a [routerLink]="['/home']" (click)="scrollToTop($event)">
            <li>Accueil</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="scrollToTop($event)">
            <li>Présentation</li>
        </a>
        <a [routerLink]="['/presentation']" (click)="navigateToSection($event, 'associations')">
            <li>Activités</li>
        </a>
        <a [routerLink]="['/contact']" (click)="scrollToTop($event)">
            <li>Nous contacter</li>
        </a>
    </ul>
</nav>

<router-outlet />
