<header>
    <div id="logo">
        <img src="/earth.gif" alt="earth-rotation">
        <img src="/text-logo.png" alt="text-logo">
    </div>
    <h1>Association Elleinad</h1>
    <h3>ALLÔ LA TERRE</h3>
</header>
<nav>
    <div id="social-links">
        <img src="/white-logo-call.svg" alt="logo-contact" class="img-contact">
        <p id="title-nav">ALLÔ LA TERRE</p>
        <div id="img-social">
            <img src="/white-logo-facebook.svg" alt="logo-contact">
            <img src="/white-logo-instagram.svg" alt="logo-contact">
            <img src="/white-logo-tiktok.svg" alt="logo-contact">
            <img src="/white-logo-youtube.svg" alt="logo-contact">
        </div>
    </div>
    <ul>
        <li>Accueil</li>
        <li>Présentation</li>
        <li>Activités</li>
        <li>Nous contacter</li>
    </ul>
</nav>

<router-outlet />
