
/* ---------------- Head Page (background image - logo gif - title) ---------------- */
html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    cursor: default;
}


header, nav {
    position: fixed;
    max-width: 1920px;
    z-index: 1;
}


header {
    background-image: url('/assets/back_header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ----DISPLAY FLEX---- */
header, nav, ul, #social-links {
    display: flex;
}


#logo {
    width: 90px;
    height: 90px;
    position: relative;
}


#logo img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


h1, h3 {
    color: linear-gradient(to right, red, blue);
    mix-blend-mode: overlay;
    margin: 0;
}


h3 {
    font-size: 16px;
    font-weight: 600;
}


nav {
    background-color: #194871;
    width: 100%;
    height: 40px;
    color: #efefef;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    top: 171px;
}


ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}


header, nav, #logo, #logo img, ul, li, .img-contact, #title-nav {
    transition: .3s;
}


li {
    border: 0.5px solid #888888;
    margin-left: 5px;
    width: 110px;
    padding: 5px;
    color: #efefef;
    text-align: center;
    cursor: pointer;
}


li:hover {
    background-color: #efefef11;
    color: #e6c625;
}


#social-links {
  position: relative;
}

.img-contact {
  width: 27px;
  margin: 0 2px 0 15px;
  transition: transform 0.2s ease;
}

.img-contact:hover {
    transform: scale(1.2) rotate(-8deg);
}

.contact-bubble {
  position: fixed; /* Pour qu'elle suive la souris dans la fenêtre */
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 13px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  transition: opacity 0.1s ease;
}


#title-nav {
    font-size: 11px;
    width: 100px;
    text-align: center;
    cursor: default;
    color: #efefef;
}


#title-nav:hover {
    letter-spacing: .3px;
    opacity: 0.7;
}



#burger {
    width: 27px;
    height: 27px;
    margin: 0 20px;
    opacity: 0.7;
    cursor: pointer;
    display: none;
    transition: .2s;
}


#burger:hover {
    opacity: 0.9;
}


#nav-burger {
    display: none;
    position: absolute;
    right: 16px;
    top: 27px;
    width: 50%;
}


#nav-burger li {
    background-color: #00000077;
    backdrop-filter: blur(3px);               /* applique le flou */
    -webkit-backdrop-filter: blur(3px);
    font-size: 22px;
    width: 100%;
    padding: 20px 5px;
}



@media only screen and (max-width: 1024px) {
    #logo {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
    }

    .img-contact {
        width: 25px;
    }

    ul {
        font-size: 13px;
    }

    li {
        width: 100px;
    }

    #title-nav {
        width: 88px;
        font-size: 10px;
    }
}


@media only screen and (max-width: 815px) {
    #burger {
        display: block;
    }
    
    ul {
        display: none;
    }

    #nav-burger {
        display: block;
    }
}


@media only screen and (max-width: 580px) {
    #nav-burger {
        right: 0;
        width: 100%;
    }

    #nav-burger li {
        font-size: 25px;
        padding: 35px 10px;
    }
}

