* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, .description {
  position: relative;
}

.description::before, .description h1, .description h1::after {
  position: absolute;
}


main {
  background-color: #efefef;
  box-shadow: 0px 5px 11px #0a1f32;
  width: 80%;
  height: fit-content;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}


header {
  padding: 195px 25px 25px 25px;
  text-align: center;
  background-image: url('/back_header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-principal {
  width: 440px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px #0a1f32;
  margin-top: 37px;
  margin-bottom: 11px;
}


article {
  background-color: #ffffff44;
  width: 600px;
  height: 160px;
  align-content: center;
  text-align: center; 
  border: 0.3px solid #555555;
  box-shadow: 0px 0px 15px #0a1f3288;
  border-radius: 15px;
  padding: 15px;
  color: #333333;
  margin: 0 auto;
}


article h1 {
  color: #194871;
  margin-bottom: 11px;
  background: linear-gradient(
    to right,
    #194871 10%,
    #00affa 20%,
    #194871 30%,
    #194871 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent;
  background-size: 500% auto;
  animation: textShine 6s ease-in-out infinite alternate;
}


@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

article .gras {
  font-weight: bold;
  color: #2c5a72;
}


.description h1, .description p, .description p, #img-social img {
  transition: .3s;
}


#img-social {
    display: flex;
    margin-top: 15px;
    width: fit-content;
    margin: 11px auto 0 auto;
}


#img-social img {
    width: 35px;
    opacity: 0.7;
    cursor: pointer;
}


#img-social img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


.description {
  background-color: #9baebd;
  z-index: 0;
  width: 100%;
  height: 300px;
  padding: 70px;
  align-content: center;
  margin: 1px 0;
  overflow: hidden;
}

.description::before, .description:hover:before {
  transition: transform 0.5s;
}

.description::before {
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #28397522;
  transform: scaleY(0);
  transform-origin: bottom;
}

.description:hover:before {
  transform: scaleY(1);
}

.description h1 {
  position: relative;
  display: inline-block;
  color: #194871;
  font-size: 2.5em;
}

.description h1::after {
  content: '';
  bottom: -5px;
  left: 0;
  height: 1.5px;
  width: 0%;
  background-color: red;
  transition: width 0.5s ease;
}


.description p {
  color: #444444;
  text-align: justify;
}

.description:hover h1 {
  color: #ffffff99;
}

.description:hover p {
  margin-top: 25px;
  color: whitesmoke;
}

.description:hover h1::after {
  width: 100%;
}

