<main>
    <header>
        <img src="/photo-principal.png" alt="photo-principal" id="photo-principal">
        <article>
            <h1>Association Elleinad</h1>
            <p><span class="gras">Allô La Terre</span> agit pour les femmes et jeunes en milieu rural.</p>
            <p>Un élan du cœur devenu une aventure humanitaire au <span class="gras">Sénégal</span>.</p>
            <div id="img-social">
                <img src="/white-logo-facebook.svg" alt="logo-contact">
                <img src="/white-logo-instagram.svg" alt="logo-contact">
                <img src="/white-logo-tiktok.svg" alt="logo-contact">
                <img src="/white-logo-youtube.svg" alt="logo-contact">
            </div>
        </article>
    </header>
    <div *ngFor="let title of titlesDescription; let i = index" class="description">
        <h1>{{ title }}</h1>
        <p>{{articlesDescription[i]}}</p>
    </div>

</main>
