<main>
    <header>
        <img src="/photo-principal.png" alt="photo-principal" id="photo-principal">
        <article>
            <h1>Association Elleinad</h1>
            <p><span class="gras">Allô La Terre</span> agit pour les femmes et jeunes en milieu rural.</p>
            <p>Un élan du cœur devenu une aventure humanitaire au <span class="gras">Sénégal</span>.</p>
            <div id="img-social">
                <img src="/white-logo-facebook.svg" alt="logo-contact">
                <img src="/white-logo-instagram.svg" alt="logo-contact">
                <img src="/white-logo-tiktok.svg" alt="logo-contact">
                <img src="/white-logo-youtube.svg" alt="logo-contact">
            </div>
        </article>
    </header>
    <div class="description">
        <h1>Historique</h1>
        <p> L’Association Elleinad Allo La Terre est une association à but non lucratif, 
            créée par Madame Danielle Neukom de nationalité Suisse dans le but d’aider 
            les femmes rurales et les jeunes en milieu rural, urbain et périurbain.  
            L’AEAT  est créée le 04 Juin  2009 à Genève, puis reconnue au Sénégal le 
            17 Juin 2010. « Un soir, assise dans son bureau à faire de la comptabilité, 
            soudain  une voix  me dit : « vas au Sénégal .Ce fut le début de l’aventure  
            humanitaire qui a conduit à la création de l’Association Elleinad Allo La 
            Terre (AEAT) » déclare Mme  Danielle Jocelyne Neukom.</p>
    </div>
    <div class="description">
        <h1>Vision</h1>
        <p> La vision de l’AEAT est d’arriver, à travers le concept « Femmes, culture 
            et Solidarité, à bâtir un développement  communautaire au bénéfice des femmes
            et des enfants. <br>
            ❖ Notre mission est d’organiser, de fournir un encadrement technique 
            et financier aux femmes, jeunes et enfants. <br> 
            (monde rural, banlieue) <br>
            ❖ Promouvoir et soutenir une dynamique de solidarité entre les GIE du 
            réseau Allô la terre à travers le concept de partenariat commune <br>
            ❖ Promouvoir  le développement du leadership féminin et une meilleure 
            expression des jeunesses.</p>
    </div>
    <div class="description">
        <h1>Objectifs</h1>
        <p>Appuyer l’autonomisation des femmes à travers l’octroi de financement 
            pour la constitution de microcrédit. <br>
            Promouvoir la solidarité entre toutes les femmes en mettant en place 
            un fond communautaire pour le financement de leurs activités 
            et un réseau d’échanges, de partage  et de valorisation de leurs 
            productions respectives. <br>
            Encourager l’implication de tous les acteurs sociaux, économiques 
            et culturels ainsi qu’institutionnels dans la recherche de solution 
            durable aux problèmes des femmes et des jeunes du monde rural et 
            périurbain.</p>
    </div>
    <div class="description">
        <h1>Cibles</h1>
        <p>De manière générale, <br> l’AEAT a comme cible les femmes, les jeunes et 
            les enfants en situation difficile. 
            Les femmes vivant en zone rurale et périurbain constituent notre cœur 
            de cible du fait du manque d’infrastructures sociales de base devant 
            alléger leur quotidien.  Nous appuyons les jeunes par l’octroi de bourses 
            d’études, et de petites subventions. 
            Les actions en direction des enfants concernent les Dahras, les 
            orphelinats et pouponnières :
            Encourager l’éducation et la formation des enfants à 
            travers l’octroi de bourses de formation, de subvention.</p>
    </div>
</main>
